<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.css} "/>
</head>
<body>
<div th:insert="~{navigation::navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 th:text="${student.getName()}" class="display-1"> Name </h1>
            <p th:text="${student.getCity()}" class="display-4"> City </p>
            <p th:text="${student.getAbout()}" class="lead"> About </p>
        </div>
    </div>
    <div class="row" style="background-color: cadetblue">
        <div class="col offset-2">
            <p class="lead">
                Liked posts
            </p>
        </div>
        <div class="col offset-2">
            <p class="lead">
                Written posts
            </p>
        </div>
    </div>
</div>
</body>
</html>