<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.css} "/>
</head>
<body>
<div th:insert="~{navigation::navbar}"></div>
<br>
<div class="container-fluid col-8">
    <div class="row alert alert-primary">
        <div class="col-4 my-auto">
            <img style="width: 256px; height: 256px; border-radius: 50%;object-fit: cover"
                 th:src="${avatar?.getPath()}">
        </div>
        <div class="col-8">
            <h1 th:text="${student.getName()}" class="display-1"> Name </h1>
            <p th:text="${student.getCity()}" class="display-4"> City </p>
            <p th:text="${student.getAbout()}" class="lead"> About </p>
        </div>
    </div>
</div>
</body>
</html>